force-app/main/default/flows/Account_S2S_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>addToUpdate</name>
        <label>addToUpdate</label>
        <locationX>695</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>addressesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopAddresses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAddresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToUpdate_0</name>
        <label>addToUpdate</label>
        <locationX>1060</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>oppsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopOpps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOpps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignAccount</name>
        <label>assignAccount</label>
        <locationX>855</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>loopAddresses.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incomingAcc.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignAccount_0</name>
        <label>assignAccount</label>
        <locationX>1220</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>loopOpps.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incomingAcc.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToUpdate_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>nullcheck</name>
        <label>nullcheck</label>
        <locationX>353</locationX>
        <locationY>218</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPRNC</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>getAddresses</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>nullCheck0</name>
        <label>nullCheck</label>
        <locationX>1212</locationX>
        <locationY>105</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopOpps</targetReference>
            </connector>
            <label>notNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>nullcheck_0</name>
        <label>nullcheck</label>
        <locationX>831</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>nullCheck0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAddresses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopAddresses</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <interviewLabel>Account S2S Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account S2S Flow</label>
    <loops>
        <name>loopAddresses</name>
        <label>loopAddresses</label>
        <locationX>852</locationX>
        <locationY>408</locationY>
        <collectionReference>getAddresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateAddresses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopOpps</name>
        <label>loopOpps</label>
        <locationX>1221</locationX>
        <locationY>394</locationY>
        <collectionReference>getOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignAccount_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateOpps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAddresses</name>
        <label>getAddresses</label>
        <locationX>536</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOpportunities</targetReference>
        </connector>
        <filters>
            <field>Account_Id_S2S__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getPRNC.PartnerRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunities</name>
        <label>getOpportunities</label>
        <locationX>675</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>nullcheck_0</targetReference>
        </connector>
        <filters>
            <field>Account_Id_S2S__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getPRNC.PartnerRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPRNC</name>
        <label>getPRNC</label>
        <locationX>176</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>nullcheck</targetReference>
        </connector>
        <filters>
            <field>LocalRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingAcc.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartnerNetworkRecordConnection</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAddresses</name>
        <label>updateAddresses</label>
        <locationX>1114</locationX>
        <locationY>273</locationY>
        <connector>
            <targetReference>nullCheck0</targetReference>
        </connector>
        <inputReference>addressesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateOpps</name>
        <label>updateOpps</label>
        <locationX>1445</locationX>
        <locationY>205</locationY>
        <inputReference>oppsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getPRNC</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>addressesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>incomingAcc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>oppsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
