force-app/main/default/flows/Address_S2S_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignAccount</name>
        <label>assignAccount</label>
        <locationX>548</locationX>
        <locationY>221</locationY>
        <assignmentItems>
            <assignToReference>incomingAddress.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPRNC.LocalRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAddress</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>nullcheck</name>
        <label>nullcheck</label>
        <locationX>353</locationX>
        <locationY>218</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPRNC</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>assignAccount</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <interviewLabel>Address S2S Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Address S2S Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getPRNC</name>
        <label>getPRNC</label>
        <locationX>176</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>nullcheck</targetReference>
        </connector>
        <filters>
            <field>PartnerRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingAddress.Account_Id_S2S__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartnerNetworkRecordConnection</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAddress</name>
        <label>updateAddress</label>
        <locationX>744</locationX>
        <locationY>220</locationY>
        <inputReference>incomingAddress</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getPRNC</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>incomingAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
</Flow>
