force-app/main/default/flows/Contract_S2S.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>addToList</name>
        <label>addToList</label>
        <locationX>747</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>childsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopChildRecs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopChildRecs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignMaster</name>
        <label>assignMaster</label>
        <locationX>421</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Parent_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_master.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignParent</name>
        <label>assignParent</label>
        <locationX>901</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>loopChildRecs.Parent_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Parent</name>
        <label>check Parent</label>
        <locationX>970</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>loopChildRecs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>update_parent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopChildRecs.Parent_Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopChildRecs.Parent_Contract__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignParent</targetReference>
            </connector>
            <label>update parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkMaster</name>
        <label>checkMaster</label>
        <locationX>185</locationX>
        <locationY>643</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>masterExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_master</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>assignMaster</targetReference>
            </connector>
            <label>masterExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>checknull</name>
        <label>checknull</label>
        <locationX>874</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>childsToUpdate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>update_child_recs</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Master_Check</name>
        <label>Master Check</label>
        <locationX>167</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Master</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Master_Agreement_Id_S2S__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Master_Agreement_Id_S2S__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_childs_to_update</targetReference>
            </connector>
            <label>Is Master</label>
        </rules>
        <rules>
            <name>Has_Master</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Master_Agreement_Id_S2S__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Master_Agreement_Id_S2S__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_master</targetReference>
            </connector>
            <label>Has Master</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check</name>
        <label>null check</label>
        <locationX>547</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_childs_to_update</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>loopChildRecs</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <interviewLabel>Contract S2S {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract S2S</label>
    <loops>
        <name>loopChildRecs</name>
        <label>loopChildRecs</label>
        <locationX>745</locationX>
        <locationY>322</locationY>
        <collectionReference>get_childs_to_update</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_Parent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checknull</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_childs_to_update</name>
        <label>get childs to update</label>
        <locationX>397</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check</targetReference>
        </connector>
        <filters>
            <field>Master_Agreement_Id_S2S__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ID_S2S__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Parent_Contract__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_master</name>
        <label>get master</label>
        <locationX>173</locationX>
        <locationY>490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkMaster</targetReference>
        </connector>
        <filters>
            <field>ID_S2S__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Master_Agreement_Id_S2S__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_child_recs</name>
        <label>update child recs</label>
        <locationX>1061</locationX>
        <locationY>130</locationY>
        <inputReference>childsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateRecord</name>
        <label>updateRecord</label>
        <locationX>545</locationX>
        <locationY>649</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Master_Check</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>childsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
