force-app/main/default/flows/Test_Renewal_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>ContractClone</name>
        <label>ContractClone</label>
        <locationX>89</locationX>
        <locationY>1032</locationY>
        <apexClass>ContractClone</apexClass>
        <connector>
            <targetReference>UpdateContract2_0</targetReference>
        </connector>
        <inputParameters>
            <name>vAccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vEndDate</name>
            <value>
                <elementReference>End_Date4</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vEvents</name>
            <value>
                <elementReference>AlertYes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vExtension</name>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vID</name>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vNotice</name>
            <value>
                <elementReference>Proposed_Expiration_Notice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vRenewal</name>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>NewContractId</assignToReference>
            <name>NewContractId</name>
        </outputParameters>
    </apexPluginCalls>
    <assignments>
        <name>All_Detail_into_one_Collection_Variable</name>
        <label>All Detail into one Collection Variable</label>
        <locationX>1076</locationX>
        <locationY>1398</locationY>
        <assignmentItems>
            <assignToReference>UpdateChangedTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChangedTaskDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopContractTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssgnActivityDate_0_0</name>
        <label>AssgnActivityDateRecurring</label>
        <locationX>1051</locationX>
        <locationY>1125</locationY>
        <assignmentItems>
            <assignToReference>ChangedTaskDetail.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangedTaskDetail.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewReminderDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChangedTaskDetail.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Detail_into_one_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignActivityDate</name>
        <label>AssignActivityDate</label>
        <locationX>858</locationX>
        <locationY>1130</locationY>
        <assignmentItems>
            <assignToReference>CurrentActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangedTaskDetail.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssgnActivityDate_0_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AlertNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>AlertYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_new_Contract</name>
        <choiceText>Close out existing Contract.  Create new Contract with the proposed Expiration Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NewContract</stringValue>
        </value>
    </choices>
    <choices>
        <name>Edit_existing_Contract</name>
        <choiceText>Edit existing Contract with proposed Expiration Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ExtendContract</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>X120_Days</name>
        <choiceText>120 Days</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>120.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X15_Days</name>
        <choiceText>15 Days</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>15.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X30_Days</name>
        <choiceText>30 Days</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X45_Days</name>
        <choiceText>45 Days</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>45.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X60_Days</name>
        <choiceText>60 Days</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>60.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>X90_Days</name>
        <choiceText>90 Days</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>90.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ChooseContracttype</name>
        <label>ChooseContracttype</label>
        <locationX>323</locationX>
        <locationY>634</locationY>
        <defaultConnector>
            <targetReference>UpdateContract2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Extend Contract</defaultConnectorLabel>
        <rules>
            <name>NewContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Contract_Process</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_new_Contract</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RenewalContract</targetReference>
            </connector>
            <label>NewContract</label>
        </rules>
    </decisions>
    <decisions>
        <name>CloneNewContract</name>
        <label>Clone New Contract</label>
        <locationX>183</locationX>
        <locationY>902</locationY>
        <defaultConnectorLabel>ExitNewContract</defaultConnectorLabel>
        <rules>
            <name>CreateNewContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CloneContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContractClone</targetReference>
            </connector>
            <label>Create New Contract</label>
        </rules>
    </decisions>
    <description>v1.12</description>
    <formulas>
        <name>Days</name>
        <dataType>Number</dataType>
        <expression>FLOOR({!EndDate3} - {!CurrentActivityDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>EndDateplue1Year</name>
        <dataType>Date</dataType>
        <expression>DATE( YEAR({!EndDate3}) + 1, MONTH({!EndDate3}), DAY({!EndDate3}))</expression>
    </formulas>
    <formulas>
        <name>NewActivityDate</name>
        <dataType>Date</dataType>
        <expression>{!End_Date4} - {!Days}</expression>
    </formulas>
    <formulas>
        <name>NewReminderDate</name>
        <dataType>DateTime</dataType>
        <expression>{!ReminderDate}+ {!NumberOfDaysActivity}</expression>
    </formulas>
    <formulas>
        <name>NumberOfDaysActivity</name>
        <dataType>Number</dataType>
        <expression>{!End_Date4} - {!EndDate3}</expression>
        <scale>0</scale>
    </formulas>
    <label>Renewal Wizard</label>
    <loops>
        <name>LoopContractTask</name>
        <label>Loop_ContractTask</label>
        <locationX>656</locationX>
        <locationY>1168</locationY>
        <assignNextValueToReference>ChangedTaskDetail</assignNextValueToReference>
        <collectionReference>CurrentContractTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignActivityDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateTask</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Note</name>
        <label>Create New Note</label>
        <locationX>324</locationX>
        <locationY>373</locationY>
        <connector>
            <targetReference>Decision_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>Note</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Contract</name>
        <label>Lookup Contract</label>
        <locationX>312</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_End_Date</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Account_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AgreementType</assignToReference>
            <field>Agreement_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContractNumber</assignToReference>
            <field>ContractNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContractTitle</assignToReference>
            <field>Contract_Title__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EndDate3</assignToReference>
            <field>EndDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContractPurpose</assignToReference>
            <field>Internal_Notes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerExpNotice</assignToReference>
            <field>OwnerExpirationNotice</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StartDate3</assignToReference>
            <field>StartDate</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupCurrentTask</name>
        <label>LookupCurrentTask</label>
        <locationX>585</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopContractTask</targetReference>
        </connector>
        <filters>
            <field>Contract_Expiration_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsRecurrence</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>CurrentContractTasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>ReminderDateTime</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>RecurrenceActivityId</queriedFields>
        <queriedFields>Contract_Expiration_Task__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContract2</name>
        <label>UpdateContract2</label>
        <locationX>427</locationX>
        <locationY>907</locationY>
        <connector>
            <targetReference>LookupCurrentTask</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>End_Date4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerExpirationNotice</field>
            <value>
                <elementReference>Proposed_Expiration_Notice</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContract2_0</name>
        <label>UpdateContract2</label>
        <locationX>93</locationX>
        <locationY>1148</locationY>
        <connector>
            <targetReference>EndRenewalProcess</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_Rules__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>ContractStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTask</name>
        <label>UpdateTask</label>
        <locationX>657</locationX>
        <locationY>1443</locationY>
        <connector>
            <targetReference>Display_Result</targetReference>
        </connector>
        <inputReference>UpdateChangedTasks</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_Notes</name>
        <label>Add Notes</label>
        <locationX>311</locationX>
        <locationY>269</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Note</targetReference>
        </connector>
        <fields>
            <name>NoteHeader</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please enter notes concerning this renewal.  Your notes will be attached to the Contract record.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Term and Renewal Note</stringValue>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Title&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Body</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Note&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Change_End_Date</name>
        <label>Change End Date</label>
        <locationX>309</locationX>
        <locationY>153</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Notes</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please verify the new Proposed Expiration Date shown below.  You can edit the date before advancing to the next step, then click next to continue&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CompanyNameLabel</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:15px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;table style=&quot;width:50%&quot; border= &quot;2&quot;&gt;
&lt;tr&gt;
&lt;td&gt;Company Name&lt;/td&gt;&lt;td&gt;{!AccountName}&lt;/td&gt;&lt;/tr&gt;
&lt;td&gt;Agreement Type&lt;/td&gt;&lt;td&gt;{!AgreementType}&lt;/td&gt;&lt;/tr&gt;
&lt;tr&gt;&lt;td&gt;Contract Number&lt;/td&gt;&lt;td&gt;{!ContractNumber}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;
&lt;td&gt;Purpose&lt;/td&gt;&lt;td&gt;{!ContractPurpose}&lt;/td&gt;&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;Contract Title&lt;/td&gt;&lt;td&gt;{!ContractTitle}&lt;/td&gt;&lt;/tr&gt;
&lt;/table&gt;
&lt;/FONT&gt;
&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OriginalEndDateLabel</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Original End Date: {!EndDate3}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>End_Date4</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>EndDateplue1Year</elementReference>
            </defaultValue>
            <fieldText>Proposed End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OriginalExpirationNotice</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Original Expiration Notice Period (Days):  {!OwnerExpNotice}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Proposed_Expiration_Notice</name>
            <choiceReferences>X15_Days</choiceReferences>
            <choiceReferences>X30_Days</choiceReferences>
            <choiceReferences>X45_Days</choiceReferences>
            <choiceReferences>X60_Days</choiceReferences>
            <choiceReferences>X90_Days</choiceReferences>
            <choiceReferences>X120_Days</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>X120_Days</defaultSelectedChoiceReference>
            <fieldText>Proposed Expiration Notice</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Decision_Screen</name>
        <label>Decision Screen</label>
        <locationX>338</locationX>
        <locationY>506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ChooseContracttype</targetReference>
        </connector>
        <fields>
            <name>DecisionHeader</name>
            <fieldText>Please select one of the two choices below.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Contract_Process</name>
            <choiceReferences>Create_new_Contract</choiceReferences>
            <choiceReferences>Edit_existing_Contract</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select Contract Process&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Result</name>
        <label>Display Result</label>
        <locationX>787</locationX>
        <locationY>1668</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NewEndDate</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Your Revised End Date is now:  {!End_Date4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;All open Expiration Tasks will have a new Due Date&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EndRenewalProcess</name>
        <label>Renewal Process Complete</label>
        <locationX>95</locationX>
        <locationY>1270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndRenewal</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Your Renewal Contract was created Successfully.  Please click the link to access the new record:  &lt;/B&gt; &lt;A HREF=&quot;/{!NewContractId}&quot; TARGET=&quot;_blank&quot;&gt;New Contract&lt;/A&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RenewalContract</name>
        <label>RenewalContract</label>
        <locationX>202</locationX>
        <locationY>776</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CloneNewContract</targetReference>
        </connector>
        <fields>
            <name>LabelRenewal</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;New contract Creation&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please make a selection Below:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CloneContract</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Create new Contract</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Close_out_Alerts</name>
            <choiceReferences>AlertYes</choiceReferences>
            <choiceReferences>AlertNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>AlertNo</defaultSelectedChoiceReference>
            <fieldText>Close out all open Alerts and Create new</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Contract</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActitvityDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AgreementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChangedTaskDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>ContractNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractPurpose</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Expired</stringValue>
        </value>
    </variables>
    <variables>
        <name>ContractTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentActivityDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentContractTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>EndDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EndDate3</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Used to hold new contract ID</description>
        <name>NewContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Used to store new contract Number</description>
        <name>NewContractNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NullValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerExpNotice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReminderDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StartDate3</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdateChangedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>id of the contract</description>
        <name>varID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEvents</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Close_out_Alerts</elementReference>
        </value>
    </variables>
</Flow>
